---
import Layout from "../layouts/Layout.astro";
---

<Layout title="certified <mark>uhhh</mark> uhhh...">
  <div class="section">
    <h2 class="title">Pluto</h2>
    <p>
      Pluto is a <mark>PLANET!!!</mark>
    </p>

    <br>

    <h2 class="title">About me</h2>
    <p>
      i'm a student, so naturally i am too lazy to work (truth nuke), <br>
      tho i am pretty burned out half the time, <br>
      i am still passionate about what i do <br>
    </p>

    <br>

    <h2 class="title">What i do</h2>
    <p>
      1. exist (really big) <br>
      2. code when i feel like it <br>
      3. consume media because i am a true capitalist! <br>
      4. P.E.E.
    </p>

    <br>

    <h2 class="title">Hobbies?</h2>
    <p>
      meat beating (allegedly) <br>
      music (duh, like literally everyone else) <br>
      wasting life which is my favourite activity and i am <mark>REALLY</mark> good at it
    </p>

    <br>

    <h2 class="title">Username origin</h2>
    <p>
      roce came out of nowhere, really i just liked how it sounded <br>
      fruvous, however, was shamelessly stolen from the great band called Moxy Fruvous <br> 
      thanks (boards of) canada <br>
      unrelated, but i want a girl with a short skirt and a looooong jacket
    </p>

    <br>
    
    <h2 class="title">fin... or is it? hi psauce michel here</h2>
  </div>
</Layout>