---
import Layout from "../layouts/Layout.astro";
---

<Layout title="let's get radio and then get a head">
  <div class="section">
    <p>uhhh something about me maybe potentially??</p>
    <h2 class="title">What i do</h2>
    <p>
      i'm a student, so naturally i am too lazy work (truth nuke),
      tho i am pretty burned out half the time, 
      i am still passionate about what i do
    </p>
  </div>
</Layout>