---
import { Icon } from "astro-icon/components";
---

<header class="header">
    <nav class="flex flex-row justify-between">
        <div>
            <ul class="header__list font-medium flex flex-row gap-2.5">
                <li>
                    <a class="header__button" href="/" >Home</a>
                </li>
                <li>
                    <a class="header__button" href="about" >About</a>
                </li>

                <button class="header__button" id="theme-light">
	                <Icon size={20} name="mingcute:sun-fill" />
                </button>

                <button class="header__button" id="theme-dark">
	                <Icon size={20} name="mingcute:moon-fill" />
                </button>
            </ul>

            <slot />
        </div>
        

        <img class="header__profile-picture" alt="avatar" src="https://github.com/rocefruvous.png?size=256">
    </nav>
</header>

<script>
	document.getElementById("theme-light")?.addEventListener("click", () => {
		document.documentElement.dataset.theme = "light";
		localStorage.setItem("theme", "light");
	});

	document.getElementById("theme-dark")?.addEventListener("click", () => {
		document.documentElement.dataset.theme = "dark";
		localStorage.setItem("theme", "dark");
	});
</script>

<style>
    .header {
        max-width: 650px;
        width: 100%;
    }
    .header__list {
        color: var(--foreground-secondary);
    }
    .header__profile-picture {
        width: 6em;
        height: 6em;
        border-radius: 1rem;
    }
    .header__button {
        transition: 200ms;
    }
    .header__button:hover {
        color: var(--foreground);
    }
    .header__button:active {
        color: var(--primary);
    }
</style>