---

const { title = "my site" } = Astro.props;

---

<header class="header">
    <nav class="flex flex-row justify-between">
        <div>
            <ul class="header__list flex flex-row gap-2.5">
                <li>
                    <a href="/" >Home</a>
                </li>
                <li>
                    <a href="about" >About</a>
                </li>
            </ul>

            <slot />
        </div>
        

        <img class="header__profile-picture" src="https://github.com/rocefruvous.png?size=256">
    </nav>
</header>

<style>
.header {
    max-width: 650px;
    width: 100%;
}
.header__list {
    font-weight: 600;
    font-size: 1.3em;
}
.header__profile-picture {
    width: 6em;
    height: 6em;
    border-radius: 1rem;
}
</style>