---
import Header from "../components/header.astro";
import Footer from "../components/footer.astro";

import "../styles/global.css";
import "../styles/variable.css";

import { ICON } from "../scripts/constants";
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={ ICON } />
		<meta name="generator" content={Astro.generator} />
		<title>roce</title>

		<script is:inline>
			const theme = localStorage.getItem("theme") || "light";
			document.documentElement.dataset.theme = theme;
		</script>

		<link
            rel="preload"
            href="/fonts/Satoshi-Variable.woff2"
            as="font"
            type="font/woff2"
            crossorigin
        />
	</head>
	<body>

		<div class="flex flex-col p-3 justify-center items-center">
			<Header>
				<h2 class="py-2 text-2xl font-extrabold" set:html={ title } />
			</Header>

			<slot />

			<Footer />
		</div>

	</body>
</html>
